@reference "tailwindcss";

.home {
  @apply min-h-screen flex flex-col justify-center items-center 
         bg-(--beige-soft) text-(--wood-brown) p-6;
}


.home h1 {
  @apply text-4xl font-bold mb-4 text-(--wood-brown) tracking-wide;
}


.home p {
  @apply text-lg mb-6 text-(--wood-medium);
}


.inputbuttonhome {
  @apply bg-(--wood-medium) text-(--beige-light) px-8 py-3 rounded-lg font-semibold shadow-md
         hover:bg-(--wood-brown) transition duration-300;
}
