@reference "tailwindcss";

.login {
  @apply min-h-screen flex flex-col justify-center items-center 
         bg-(--beige-soft) text-(--wood-brown) p-6;
}

.loginAccount {
  @apply text-4xl font-bold mb-8 text-(--wood-brown) tracking-wide;
}

.loginform {
  @apply flex flex-col gap-4 bg-(--beige-light) shadow-lg rounded-2xl p-8 w-full max-w-sm;
}

.logininput {
  @apply border border-(--wood-medium) rounded-lg px-4 py-2 text-(--wood-brown) 
         focus:outline-none focus:ring-2 focus:ring-(--wood-medium) focus:border-transparent;
}

.inputbutton {
  @apply bg-(--wood-medium) text-(--beige-light) px-6 py-2 rounded-lg font-semibold shadow-md
         hover:bg-(--wood-brown) transition duration-300;
}