@reference "tailwindcss";

.navbar {
  @apply bg-(--wood-brown) text-(--beige-light) px-6 py-4 flex justify-between items-center shadow-md;
}

.navlink {
  @apply text-(--beige-light) hover:text-(--beige-light)/80 transition-colors;
}
